spring:
  application:
    name: SchedulerApp
  profiles:
    active: ${SPRING_PROFILE_ACTIVE:prod}
  datasource:
    url: ${SPRING_DB_URL}
    username: ${SPRING_DB_USERNAME}
    password: ${SPRING_DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: ${SPRING_HIBERNATE_DDL_AUTO:update}
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: ${SPRING_FLYWAY_ENABLED:true}
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  port: ${APP_PORT:8080}
  servlet:
    context-path: /api/v1
  error:
    include-message: always
    include-binding-errors: always

app:
  cors:
    allowed-origins:
      - http://localhost:3000
  auth:
    jwt:
      secret: ${SPRING_JWT_SECRET_KEY}
      expiration: ${SPRING_JWT_EXPIRATION}
    refresh-session-expiration: ${SPRING_REFRESH_SESSION_EXPIRATION}
    cookie-secure: ${SPRING_AUTH_COOKIE_SECURE:false}
    bootstrap-superadmin:
      username: ${SPRING_BOOTSTRAP_SUPERADMIN_USERNAME}